
.image1{
    height: 100vh;
   width: 100%;
<<<<<<< HEAD
   background: linear-gradient(to right, rgba(189, 195, 199,0.5), rgba(44, 62, 80,0.5)), url(img/image1.jpeg);
=======
   background: url(img/header.jpeg);
>>>>>>> d3480e9769f51a8c58efe1e9e9e7088d450028ee
   background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}
