.image2{
    background-image: linear-gradient(to right, rgba(109, 179, 242, .4), rgba(109, 179, 242, .4)), url(/img/image2.jpeg);

        background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    }