.ourcars{
    height: auto;
<<<<<<< HEAD

=======
>>>>>>> d3480e9769f51a8c58efe1e9e9e7088d450028ee
    &__title{
        font-size: 2em;
       
    }
    &__flex{
        display: flex;
<<<<<<< HEAD
        justify-content: space-between;
        margin-top: 100px;
        width: 100%;    
        
        height:20%;
        flex-wrap: wrap;
        p{
            font-size: 0.5rem;
         
            
        }
        
        
       
=======
        justify-content: space-around;
        margin-top: 100px;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        height:20%;
>>>>>>> d3480e9769f51a8c58efe1e9e9e7088d450028ee
    }
    &__line-bettwen{
        border-left: 6px solid green;
        height: 100%;
        width:1px;

        
    }
<<<<<<< HEAD
    
     
    &__border{
        height: 100%;
        width: 94%;
        position: absolute;
        border: 4px solid goldenrod;
        z-index: 1;
        top: 0;
        right: 0;
    }
    &__container__img{
        width:400px;
        height:300px;
    }
    &__img{
        border: 1px solid greenyellow;
       
    }
  
    &__text{
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
=======
    &__text{
        background-color: blue;
    }
    &__img{
        border: 1px solid greenyellow;
    }
  
    
>>>>>>> d3480e9769f51a8c58efe1e9e9e7088d450028ee
}
.promotion{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    &__time{
        color: white;
    }
<<<<<<< HEAD
    width:100%;
=======
>>>>>>> d3480e9769f51a8c58efe1e9e9e7088d450028ee
}
.reigistry{
    height: 10em;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
<<<<<<< HEAD
    width:100%;
=======
>>>>>>> d3480e9769f51a8c58efe1e9e9e7088d450028ee
}